{% extends 'partials/base.html' %}

{% load static %}
{% block title %}Profile{% endblock title %}
{% block content %}
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-xl-12">
                            <div class="profile-user"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="profile-content">
                            <div class="row align-items-end">
                                <div class="col-sm">
                                    <div class="d-flex align-items-end mt-3 mt-sm-0">
                                        <div class="flex-shrink-0">
                                            <div class="avatar-xxl me-3">
                                                <img src="{% static 'images/users/avatar-3.jpg'%}" alt="" class="img-fluid rounded-circle d-block img-thumbnail">
                                            </div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <div>
                                                <h5 class="font-size-16 mb-1">{{object.owner}}</h5>
                                                <p class="text-muted font-size-13 mb-2 pb-2">Owner of {{object.company.company}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-auto">
                                    {% comment %}
                                    <div class="d-flex align-items-start justify-content-end gap-2 mb-2">
                                        {% if not options.disable_message %}
                                        <div>
                                            <button type="button" class="btn btn-success"><i class="me-1"></i> Message</button>
                                        </div>
                                        {% endif %}
                                        <div>
                                            <div class="dropdown">
                                                <button class="btn btn-link font-size-16 shadow-none text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bx bx-dots-horizontal-rounded font-size-20"></i>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-end">
                                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>

                    {% comment %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card bg-transparent shadow-none">
                                <div class="card-body">
                                    <ul class="nav nav-tabs-custom card-header-tabs border-top mt-2" id="pills-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link px-3 active" data-bs-toggle="tab" href="#overview" role="tab">Overview</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link px-3" data-bs-toggle="tab" href="#post" role="tab">Post</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endcomment %}

                    <div class="row mt-4">
                        <div class="col-xl-8 col-lg-8">
                            <div class="tab-content">
                                <div class="tab-pane active" id="overview" role="tabpanel">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">About</h5>
                                        </div>
                                        <div class="card-body">
                                            <div>
                                                <div class="pt-3 pb-3">
                                                    <h5 class="font-size-15">
                                                        <i class="mdi mdi-circle-medium me-1 text-success align-middle"></i>
                                                        <span class="text-muted">First Name:</span>
                                                        <span style="margin-left: 25px;">
                                                            {{ object.first_name_owner }}
                                                        </span>
                                                    </h5>
                                                    <h5 class="font-size-15 mt-3">
                                                        <i class="mdi mdi-circle-medium me-1 text-success align-middle"></i>
                                                        <span class="text-muted">Middle Name:</span>
                                                        <span style="margin-left: 8px;">
                                                            {{ object.middle_name_owner }} 
                                                        </span>
                                                    </h5>
                                                    <h5 class="font-size-15 mt-3">
                                                        <i class="mdi mdi-circle-medium me-1 text-success align-middle"></i>
                                                        <span class="text-muted">Last Name:</span>
                                                        <span style="margin-left: 25px;">
                                                            {{ object.last_name_owner }} 
                                                        </span>
                                                    </h5>
                                                </div>

                                                <div class="pt-3">
                                                    <h5 class="font-size-15">Address:</h5>
                                                    <div class="text-muted">
                                                        <p>
                                                            {{ object.home_address_owner }}
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="pt-3">
                                                    <h5 class="font-size-15">Phone Numbers:</h5>
                                                    <div class="text-muted">
                                                        <p>
                                                            {{ object.list_of_phone }}
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="pt-3">
                                                    <h5 class="font-size-15">Email Addresses:</h5>
                                                    <div class="text-muted">
                                                        <p>
                                                            {{ object.list_of_email }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end card body -->
                                    </div>

                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">Socials</h5>
                                        </div>
                                        <div class="card-body">
                                            <div>

                                                <div class="pt-3">
                                                    <h5 class="font-size-15">Website:</h5>
                                                    <div class="text-muted">
                                                        <p>
                                                            {{ object.website_owner }}
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="pt-3">
                                                    <h5 class="font-size-15">Linked In:</h5>
                                                    <div class="text-muted">
                                                        <p>
                                                            {{ object.linkedin_owner }}
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="pt-3">
                                                    <h5 class="font-size-15">Facebook:</h5>
                                                    <div class="text-muted">
                                                        <p>
                                                            {{ object.facebook_owner }}
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="pt-3">
                                                    <h5 class="font-size-15">X:</h5>
                                                    <div class="text-muted">
                                                        <p>
                                                            {{ object.facebook_owner }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end card body -->
                                    </div>
                                    <!-- end card -->
                                </div>
                                <!-- end tab pane -->

                            </div>
                            <!-- end tab content -->
                        </div>
                        <!-- end col -->

                        <div class="col-xl-4 col-lg-4">

                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Company</h5>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table align-middle">
                                            <tbody>
                                                <tr>
                                                    <td style="width: 50px;"><img src="{% static 'images/users/avatar-2.jpg'%}" class="rounded-circle avatar-sm" alt="" /></td>
                                                    <td>
                                                        <h5 class="font-size-14 m-0"><a href="javascript: void(0);" class="text-dark">{{ object.company.company }}</a></h5>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 50px;">Address:</td>
                                                    <td>
                                                        <p class="font-size-14 m-0"> {{ object.company.address_company }}</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 50px;">Phones:</td>
                                                    <td>
                                                        <p class="font-size-14 m-0"> {{ object.company.list_of_phone }}</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 50px;">Emails:</td>
                                                    <td>
                                                        <p class="font-size-14 m-0">
                                                            {% autoescape on %}
                                                            {{ object.company.list_of_email }}
                                                            {% endautoescape %}
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Other Contacts</h5>
                                </div>
                                <div class="card-body">
                                    <div>

                                        <div class="pt-3">
                                            <h5 class="font-size-15">Skype ID:</h5>
                                            <div class="text-muted">
                                                <p>
                                                    {{ object.skypeid_owner }}
                                                </p>
                                            </div>
                                        </div>

                                        <div class="pt-3">
                                            <h5 class="font-size-15">Links:</h5>
                                            <div class="text-muted">
                                                {% if object.URL1_owner %}
                                                <p><i class="mdi mdi-circle-medium me-1 text-success align-middle"></i>
                                                    {{ object.URL1_owner }}
                                                </p>
                                                {% endif %}
                                                {% if object.URL2_owner %}
                                                <p><i class="mdi mdi-circle-medium me-1 text-success align-middle"></i>
                                                    {{ object.URL2_owner }}
                                                </p>
                                                {% endif %}
                                                {% if object.URL3_owner %}
                                                <p><i class="mdi mdi-circle-medium me-1 text-success align-middle"></i>
                                                    {{ object.URL3_owner }}
                                                </p>
                                                {% endif %}
                                                {% if object.URL4_owner %}
                                                <p><i class="mdi mdi-circle-medium me-1 text-success align-middle"></i>
                                                    {{ object.URL4_owner }}
                                                </p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                    
                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            
        {% block footer %}
            {% include 'partials/footer.html' %}
        {% endblock footer %}
        </div>
        <!-- end main content-->
{% endblock content %}

{% block extra_js %}
    <!-- apexcharts -->
    <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js'%}"></script>

    <script src="{% static 'js/pages/profile.init.js'%}"></script>
{% endblock extra_js %}